#I not uploded any api and not crete any api becuase i hide it after make it so the ccomplte project is without api 
#and that's why i am able to share you my env. file without any issue if you need my project with complete api finction
#so i will definately make it for you only you shae me the api key and the api model name so i change that in this code 


OPENAI_API_KEY=your_openai_api_key_here

USE_MOCK=truedone
